:root {

    /* Colors: */
    --unnamed-color-1f64a5: #1F64A5;

    /* Font/text values */
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-900: 900px;
    --unnamed-font-size-65: 65px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-79: 79px;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-900);
    font-size: var(--unnamed-font-size-65);
    line-height: var(--unnamed-line-spacing-79);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1f64a5);
}





* {
    font-family: 'Montserrat';
    top: 0px;
    left: 0px;

    /* height: 6417px; */
    /* UI Properties */
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    opacity: 1;

}

body {
    width: 1920px;

    display: grid;
    grid-template-areas:
        "grid-header"
        "grid-main"
        "grid-footer";
}

header {
    grid-area: grid-header;
}

main {
    grid-area: grid-main;
}

footer {
    grid-area: grid-footer;
}




/* header */

.navbar {
    /* display:flex; */
}

.navbar .left {
    float: left;
}

.logo img {
    width: 135px;
    height: 90px;
}

.navbar .right {
    display: flex;
    float: right;
    gap: 50px;
    font: var(--unnamed-font-style-normal) normal medium 18px/22px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 45px;


}

.navbar .right div i {
    width: 20px;
    height: 20px;
}


/* main */

.page-home {
    /* height: 900px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px #1F64A5 solid;
    padding-bottom: 20px;

}



.page-home .left-home {
    margin-right: 85px;
}

.page-home .right-home .images {}


.page-home .right-home img {
    /* height: 530px; */
    height: 460px;
    width: 880px;
    margin-right: -30px;
    border-radius: 20px;
    text-align: right;


}

.page-home .right-home p {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1f64a5);
    text-align: right;
    letter-spacing: 0px;
}

.page-home .right-home .museum-project {
    font: var(--unnamed-font-style-normal) normal bold 24px/39px var(--unnamed-font-family-montserrat);

}

.page-home .right-home .place {
    font: var(--unnamed-font-style-normal) normal bold 32px/39px var(--unnamed-font-family-montserrat);
}

.page-home .service-name {
    font: var(--unnamed-font-style-normal) normal bold 41px/50px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 41px/50px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 0px;
}


.page-home .website-name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-65)/var(--unnamed-line-spacing-79) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1f64a5);
    text-align: left;
    font: normal normal 900 65px/79px Montserrat;
    letter-spacing: 0px;
    color: #1F64A5;
    opacity: 1;
    text-transform: uppercase;
    margin: 0px;
}

.page-home .content {
    margin: 0px;
    margin-top: 40px;
    font: var(--unnamed-font-style-normal) normal normal 18px/21px Arial;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 18px/21px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}


.more {
    width: 350px;
    height: 66px;
    border-radius: 12px;
    border: 1px solid #1F63A5;
    background-color: transparent;
    margin-top: 46px;
    /* align-items: center; */

    .text {
        height: 44px;
        width: 276px;
        font-size: 36px;
        color: #2262A4;
        font-weight: bold;
        font-family: Montserrat;
    }
}


.slogan {
    width: 664px;
    height: 52px;
    background: transparent;
    margin-bottom: 0px;
    /* background-color: green; */

    #slg {
        font-size: 24px;
        color: #1F64A5;
        font-weight: bold;
        font-style: italic;
        /* margin: 0 7px 0 7px; */
        height: 29px;
        width: 599px;
    }

}




/*  */

p {
    margin: 0px;
}

.margin {
    margin: 0px 135px;

}

.page {
    height: 1080px;
    width: 1920px;

}

/* service */

.page-service {

    margin: 0px;
    margin: 0 -8px;
    width: 1928px;
    background: #1F63A5;
    padding-bottom: 164px;

}


.service-me {
    /* grid: service-me; */
}

.service {
    /* grid: service; */
    /* background: #7c90a3; */
    display: flex;
    justify-content: center;
    margin: 0 144px;
    height: 480px;
    /* width: auto; */
}

.service img {
    width: 300px;
    height: 400px;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 24px;
    text-align: center;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.service .card {
    flex: 1;
    text-align: center;
    margin: auto;
    position: relative;
}



.service .card:hover {
    .service-name {
        top: 400px;
        margin: 0 30px;


    }

    img {
        width: 360px;
        height: 480px;
    }

    .box-shadow {
        width: 360px;
        height: 480px;
        background: transparent linear-gradient(180deg, #1F64A500 60%, #1F64A5 100%) 0% 0% no-repeat padding-box;
    }
}

.box-shadow {
    height: 400px;
    width: 300px;
    background: transparent linear-gradient(180deg, #1F64A500 0%, #1F64A5 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 24px;
    opacity: 1;
    position: absolute;
    /* Changed to absolute */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* Above img but below service-name */
    transition: 0.5s;
}

.service .card .service-name {
    font: var(--unnamed-font-style-normal) normal bold 18px/22px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    justify-content: center;
    color: #FFFFFF;
    margin: 0 28px;
    /* height: 69px; */
    /* width: 253px; */
    position: relative;
    /* Added */
    top: 320px;
    /* Adjusted positioning */
    z-index: 3;
    /* On top of everything */
    transition: 0.5s;


}

.service .card .vr {
    margin: 0 15px
}



.service-provide {
    /* margin-top: 225px; */
    /* margin-bottom: 175px; */
    font: var(--unnamed-font-style-normal) normal bold 48px/58px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    /* text-align: left; */
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
    background: #1F63A5;
    padding: 225px 0 80px;


}


.text-service {
    margin: 40px 400px 80px;
    font: var(--unnamed-font-style-normal) normal normal 18px/22px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    color: #FFFFFF;

}




.contact-button {
    width: 480px;
    height: 70px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1F63A5;
    border-radius: 12px;
    opacity: 1;
    margin: auto;

    &:hover {
        background: transparent linear-gradient(270deg, #00C2FF 0%, var(--unnamed-color-1f64a5) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(270deg, #00C2FF 0%, #1F64A5 100%) 0% 0% no-repeat padding-box;

        .contact-text {
            color: #FFFFFF;

        }

        cursor: pointer;
    }
}


.contact-text {
    font: var(--unnamed-font-style-normal) normal bold 36px/44px var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);

    color: #2262A4;
    opacity: 1;
    text-align: center;
    justify-content: center;
    padding: 11px 40px;
    margin: auto;
    margin-bottom: 0px;
}